@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* font sizes */
.title {
  @apply text-3xl lg:text-4xl;
  @apply font-bold;
}

.heading {
  @apply text-2xl lg:text-3xl;
  @apply font-bold capitalize;
}

.subheading {
  @apply text-lg lg:text-xl;
  @apply font-semibold
  /* @apply font-bold; */
}

.body {
  @apply text-base lg:text-lg;
}

.caption {
  @apply text-xs md:text-sm lg:text-base;
  @apply tracking-wider;
}

/* layout */
.content-container {
  @apply max-w-screen-2xl;
  @apply mx-auto;
  @apply p-4 py-6 md:p-12 md:py-12;
}

body {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

dialog::backdrop {
  background-color: rgba(32, 31, 31, 0.853);
}

dialog[open]{
  body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

.eventdialog[open] {
  animation: slidedown 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slidedown {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.photodialog[open] {
  animation: scaleup 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scaleup {
  0% {
    scale: 0.3;
  }

  100% {
    scale: 1;
  }
}
/* styles.module.css */

.menu-transition {
  transition: transform 0.3s ease;
}

.prevent-scroll{
  height: 100vw;
  overflow: hidden;
}