@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* font sizes */
.title {
  @apply text-4xl lg:text-6xl;
  @apply font-bold;
}

.heading {
  @apply text-2xl lg:text-3xl;
  @apply font-bold capitalize;
  @apply text-secondary-800;
}

.subheading {
  @apply text-lg lg:text-[1.675rem] leading-9;
  @apply font-semibold;
  /* @apply font-bold; */
}

.body {
  @apply text-base lg:text-lg;
  @apply font-extralight;
}

.caption {
  @apply text-xs md:text-sm lg:text-base;
  @apply tracking-wider;
}

/* layout */
.content-container {
  @apply max-w-screen-xl;
  @apply mx-auto;
  @apply p-4 py-6 md:p-12 md:py-12;
}

body {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

dialog::backdrop {
  background-color: rgba(32, 31, 31, 0.853);
}

dialog[open] {
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

.eventdialog[open] {
  animation: slidedown 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slidedown {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.photodialog[open] {
  animation: scaleup 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scaleup {
  0% {
    scale: 0.3;
  }

  100% {
    scale: 1;
  }
}
/* styles.module.css */

.menu-transition {
  transition: transform 0.3s ease;
}

.prevent-scroll {
  height: 100vw;
  overflow: hidden;
}


.pattern-bg {
  --s: 194px;
  --c1: #f6edb3;
  --c2: #acc4a3;

  --_l: #0000 calc(25% / 3), var(--c1) 0 25%, #0000 0;
  --_g: conic-gradient(from 120deg at 50% 87.5%, var(--c1) 120deg, #0000 0);

  background: var(--_g), var(--_g) 0 calc(var(--s) / 2),
    conic-gradient(from 180deg at 75%, var(--c2) 60deg, #0000 0),
    conic-gradient(from 60deg at 75% 75%, var(--c1) 0 60deg, #0000 0),
    linear-gradient(150deg, var(--_l)) 0 calc(var(--s) / 2),
    conic-gradient(
      at 25% 25%,
      #0000 50%,
      var(--c2) 0 240deg,
      var(--c1) 0 300deg,
      var(--c2) 0
    ),
    linear-gradient(-150deg, var(--_l)) #55897c;
  background-size: calc(0.866 * var(--s)) var(--s);
}

section,p{
  text-align: justify;
}