@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* font sizes */
.title {
  @apply text-xl md:text-2xl lg:text-3xl;
  @apply font-bold;
}

.heading {
  @apply text-lg md:text-xl lg:text-2xl;
  @apply font-bold;
}

.subheading {
  @apply text-base md:text-lg lg:text-xl;
  /* @apply font-bold; */
}

.body {
  @apply text-sm md:text-base lg:text-lg;
}

.caption {
  @apply text-xs md:text-sm lg:text-base;
  @apply tracking-wider;
}

/* layout */
.page-container {
  @apply max-w-screen-2xl; 
  @apply mx-auto;
  @apply p-4 md:p-12;
}

body {
  width: 100vw;
  overflow-x: hidden;
}


@layer utilities{
  .paused{
    animation-play-state: paused;
  }
}

dialog::backdrop {
  background-color: rgba(64, 56, 56, 0.401);
}

.eventdialog[open] {
  animation: slidedown 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slidedown {
  0% {
      transform: translateY(-500px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.photodialog[open] {
  animation: scaleup 200ms cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes scaleup {
  0% {
      scale:.3;
  }

  100% {
      scale:1;
  }
}


main{
  padding: 2rem;
}

main>section{
  width: 100%;
  max-width: 1024px;
  margin: auto;
}