/* EmblaCarousel.module.css */

.embla {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: pan-y;
    /* margin-left: -10px; Adjust spacing between slides if necessary */
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* padding-left: 10px; Adjust spacing between slides if necessary */
  }
  
  .emblaThumbs {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .emblaThumbs__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .emblaThumbs__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    touch-action: pan-y;
    /* margin-left: -10px; Adjust spacing between slides if necessary */
  }
  
  .emblaThumbs__slide {
    position: relative;
    flex: 0 0 auto;
    width: 50px;
    margin: 2px; /* Adjust thumbnail size if necessary */
    /* padding-left: 10px; */
    cursor: pointer;
  }
  
  .emblaThumbs__slide__selected {
    border: 2px solid #000; /* Customize the border color and width */
    box-sizing: border-box;
    padding: 2px;
     
    /* Ensure the border doesn't affect the element's size */
  }


  