.input:checked ~ div .span {
  opacity: 1;
  transform: rotate(-30.25deg);
}

.input:checked ~ div .span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.input:checked ~ div .span:nth-last-child(3) {
  transform: rotate(30.25deg);
}

.input:checked ~ #menu {
  transform: translate(0, 0);
}
.bg-gradient-to-t {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50vh;
  background: linear-gradient(
    to top,
    rgba(230, 228, 228, 0.5) 0%, 
    rgba(41, 41, 41, 0) 100%
  );
}

